.featured {
    height: 500px;
    margin-top: 40px;
    text-align: center;
    .most_loved {
        @include font-styling-first();
    }
    .products {
        @include font-styling-second();
    }
}

    
    .carousel_cell {
        width: 100%;
        font: 1.5rem $pd serif;
        color: $orange;
        margin: 1rem;
        @media (min-width: $tablet) {
            width: 50%;
        }
        @media (min-width: $tablet) {
            width: 25%;
        }
        h5 {
            text-transform: uppercase;
            color: $grey;
            font: 0.75rem $rm sans-serif;
            font-weight: bold;
            margin: 1rem;
        }
    
    }


