.carousel_cell {
    text-align: center;
    height: 100;
    width: 25%;
    font: 1.5rem $pd serif;
    color: $orange;
    margin: 1rem;
      h5 {
        text-transform: uppercase;
        color: $grey;
        font: 0.75rem $rm sans-serif;
        margin: 1rem;
    }
}

