footer {
    background-color: $darkgrey;
    color: $white;
    text-decoration: none;
    font: 0.775rem $pd serif;
    text-align: center;
    padding-top: $margin_1;
    padding-bottom: $margin_1;
    @media (min-width: $tablet) {
                display:flex;
                text-align: left;
                font-size: 0.95rem;
            }
    .footer_container {
        width: 100%;
         @media (min-width: $tablet) {
                margin:auto;
                width: 70%;
            }
        .copyright {
            margin-bottom: 1rem;
        }
        .contact {
            margin-bottom: 1rem;
            a {
                color: $white;
            }
        }
        .address {
            margin-bottom: 1rem;
            color: $grey;
        }
    }
}

.social {
    color: $white;
    padding-top: 10px;
    li {
        display: inline-block;
        letter-spacing: 1px;
        ;
        a {
            line-height: 0;
            font-size: 0;
            color: transparent;
        }
    }
    @media (min-width: $tablet) {
        display: flex;
        flex-direction:column;
        align-content:right;
        .social li:hover a,
            .social li:hover i {
                text-decoration: none;
                color: red;
                }
}
}


  