header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow:hidden;
    @media (min-width: $tablet) {
        flex-flow: row;
    }
    .logo img {
        max-width: 120px;
        height: auto;
        @media (min-width: $tablet) {
            -webkit-order: 1;
        }
    }
    .cart
    {
        @media (min-width: $tablet) {
            -webkit-order: 3;
        }
    } img {
        max-width: 46px;
        height: auto;
    }
}

.navigation_menu {
    @media (min-width: $tablet) {
        -webkit-order: 2;
    }
    width:100%;
    ul.navmenu {
        list-style-type: none;
        padding: 10px;
        overflow: hidden;
        display: flex;
            width: 100%;
    justify-content: space-between;
        border-top: 0.2px solid $grey;
        @media (min-width: $tablet) {
            border-top: none;
        }
        a {
            color: $orange;
            font: 1rem $rl sans-serif;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
            &:hover {
                color: $darkgrey;
            }
        }
    }
}