.intro_section {
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $darkgrey;
    .intro_section_container {
        line-height: $line_height;
        font-family: $rl;
        font-size: 1rem;
        .hand_crafted {
            font-family: $pdi;
            font-size: $part1_font;
        }
        .styles {
            font-family: $pdb;
            font-size: $part1_font;
        }
    }
}