.intro_section {
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $darkgrey;
    .intro_section_container {
        line-height: $line_height;
        font-family: $rl;
        font-size: 0.9rem;
        .hand_crafted {
            @include font-styling-first();
        }
        .styles {
            @include font-styling-second();
        }
    }
    p {
        width: 92%;
        margin-left: 8px;
    }
}