.subscribe {
    color: $white;
    text-align: center;
    height: 350px;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(../../assets/images/wave-bkgd.jpg) no-repeat center bottom;
    .subscribe-text-container {
        font-size: 1rem;
        padding: 116px;
        margin:66px;
        .subscribe_text {
            font: 1.125rem $rl sans-serif;
            display: block;
            line-height:36px;

        }
    }
}