    //colours
$white: white;
$black: black;
$grey: #969696;
$orange: #e2574c;
$darkgrey: #242424;
//fonts
$pdb: 'playfair_display_bold';
$pdbi: 'playfair_display_bolditalic';
$pdi: 'playfair_display_italic';
$pd: 'playfair_display';
$rl: 'ralewaylight';
$rli: 'ralewaylight_iatlic';
$rm: 'ralewaymedium';
$rmi: 'ralewaymedium_italic';
//font size
$part1_font: 2.063rem;
//line heights:
$line_height: 2rem;
//margins
$margin_1: 4rem;
//borders
$border1: 8px solid white;
//photo sizes
$height1: 172px;
$height2:214px;
$width1: 49%;
$width2: 100%;
$width3: 48%;

//breakpoint
$tablet: 600px;
$desktop: 1000px;

//mixins
@mixin font-styling-first() {
    font: $part1_font $pdi serif;
    font-style: italic;
    color: $darkgrey;
    line-height: $line_height;
    margin-right: 2px;
}

@mixin font-styling-second() {
    font: $part1_font $pdb serif;
    font-weight: bold;
    color: $darkgrey;
    line-height: $line_height;}

