//colours
$white : white;
$black : black;
$grey: #969696;
$orange: #e2574c;
$darkgrey: #2d2d2d;

//fonts
$pdb : 'playfair_display_bold';
$pdbi: 'playfair_display_bolditalic';
$pdi: 'playfair_display_italic';
$pd: 'playfair_display';
$rl : 'ralewaylight';
$rli : 'ralewaylight_iatlic';
$rm : 'ralewaymedium';
$rmi : 'ralewaymedium_italic';

//font size
$part1_font: 2.063rem;

//line heights:
$line_height: 2rem;

//margins
$margin_1: 4rem;

//borders
$border1: 4px solid white;
